{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "./scripts/compile.sh" }
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"}
]}.

{shell, [
  { apps, [ erl_signal, sasl ]}
]}.

{ct_opts, [
    {logdir, "test/ct_logs"},
%%    {config, ["ct.config"]},
    %%{sys_config, "sys.config"},
    {verbose, true}
]}.